<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PhoneUrls</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link media="all" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
	<style type="text/css">

		#page {
			text-align: center;
		}

		form {
			width: 300px;
			margin: 3em auto;
		}

		ul {
			margin: 0;
		}

		ul li {
			list-style: none;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		ul li .wrap {
			padding: 5px 10px 5px 10px;
			border-bottom: 1px dashed #eaeaea;
		}

		ul li b a {
			display: block;
			float: left;
			width: 50px;
			background: ;
			background-color: #363636;
			background-image: -webkit-linear-gradient(top, #444444, #222222);
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			height: 50px;
			border-radius: 10px;
			line-height: 50px;
			color: white;
			text-align: center;
			font-size: 24px;
		}

		ul li b a,
		ul li b a:hover {
			color: white;
			text-decoration: none;
		}

		ul li p {
			margin-left: 60px;
		}

		ul li p:last-child {
			margin-bottom: 0;
		}

		.btn {
		  position: relative;
		  top: -5px;
		}

		@media all and (orientation: portrait) {
		  ul li:nth-child(2n+1) {
			background: #fafafa;
		  }
		}

		@media all and (orientation: landscape) and (min-width: 480px) {
			ul {
				text-align: left;
				margin: 0;
			}

			ul li {
				display: inline-block;
				width: 49%;
				max-width: 49%;
			}

			ul li a.url {
				text-overflow: ellipsis;
				overflow: hidden;
			}

			ul li .wrap {
				border-right: 1px dashed #eaeaea;
			}
		}

		.url-info {
			font-size: 12px;
		}
	</style>
</head>
<body>
	<div id="page">
		{% block content %} {% endblock content %}
	</div>
</body>
</html>
